<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/e0a18da2-32c4-417a-bc5d-d101601cad00/resourcegroups/Ali/providers/Microsoft.Web/sites/myazurewebapp20</ResourceId>
    <ResourceGroup>Ali</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myazurewebapp20.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cb70e292-a58d-4f06-a542-6b17c237b79f</ProjectGuid>
    <PublishUrl>https://myazurewebapp20.scm.azurewebsites.net/</PublishUrl>
    <UserName>$myazurewebapp20</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>